<div class="ui grid">
    <div class="ui four wide column">
      <div class="ui vertical fluid menu">
        <div class="ui pointing bustom">
          <a class="active item">
            Introduction
          </a>
          <a class="item" routerLink='/map/{{id}}' [routerLinkActive] = "'active'" [routerLinkActiveOptions] = "{exact:true}" >
            Dust 2
          </a>
          <a class="item" routerLink='/map/{{id}}' [routerLinkActive] = "'active'" [routerLinkActiveOptions] = "{exact:true}" >
            Inferno
          </a>
          <a class="item" routerLink='/map/{{id}}' [routerLinkActive] = "'active'" [routerLinkActiveOptions] = "{exact:true}" >
            Train
          </a>
          <a class="item" routerLink='/map/{{id}}' [routerLinkActive] = "'active'" [routerLinkActiveOptions] = "{exact:true}" >
            Mirage
          </a>
          <a class="item" routerLink='/map/{{id}}' [routerLinkActive] = "'active'" [routerLinkActiveOptions] = "{exact:true}" >
            Nuke
          </a>
          <a class="item" routerLink='/map/{{id}}' [routerLinkActive] = "'active'" [routerLinkActiveOptions] = "{exact:true}" >
            Overpass
          </a>
          <a class="item" routerLink='/map/{{id}}' [routerLinkActive] = "'active'" [routerLinkActiveOptions] = "{exact:true}" >
            Cache
          </a>
          <a class="item" routerLink='/map/{{id}}' [routerLinkActive] = "'active'" [routerLinkActiveOptions] = "{exact:true}" >
            Cobblestone
          </a>
        </div>      
      </div>
    </div>
    
    <div class="ui segment twelve wide stretched column" style="padding: 7px; background-color: rgb(199, 179, 0)">
      <div class="ui segment">
        <div>
          info-map
        </div>
        <div>
          Callout
        </div>
      </div>
    </div>
  
  </div>