<!-- The video -->
 <div id="normal">
   <!-- <video autoplay muted loop id="myVideo" width="100%" height="auto">
     <source src="/src/Video/CS_GO - Clockwork 4 by NikkyyHD.mp4" type="video/mp4" />
   </video> -->
   <!-- <video src="/src/Video/CS_GO - Clockwork 4 by NikkyyHD.mp4" autoplay muted="true" loop width="100%" height="auto" id="myVideo"></video> -->
</div>


<!-- <div id="tablet">
    <img src="/src/Images/csgo_store_image_02.png" alt="" width="100%" height="auto">
</div> -->

<app-list-pro></app-list-pro>