<div class="ui grid">
  <div class="ui four wide column ">
    <div class="ui pointing vertical fluid menu" style="padding:  7px; background-color: rgb(199, 179, 0)">
      <a class="item" (click)="newsClick()" >
        News
      </a>
      <!-- <a class="item" (click)="updatesClick()">
        Updates
      </a> -->
    </div>
  </div>

  <div class="ui twelve wide stretched column" *ngIf="!clickUpdate">
    <div class="ui segment pointing menu" style="padding:  7px; background-color: rgb(199, 179, 0)">
      <a class="active item" (click)='onClick()' >
        <div>
          News
        </div> 
      </a>
      <a class="item disabled" *ngIf="newsOnClick != null">
        <div>
          {{newsOnClick?.title}}
        </div>
      </a>
    </div>
    <div class="ui segment" style="padding: 7px; background-color: rgb(199, 179, 0)">
      <app-news (clickedNewsOut)='clickedNews($event)' ></app-news>
    </div>
  </div>

  <!-- <div class="ui twelve wide stretched column"  *ngIf="clickUpdate" >
    <div class="ui segment pointing menu" style="padding:  7px; background-color: rgb(199, 179, 0)">
      <a class="active item" (click)='onClick()' >
        <div>
          Updates
        </div> 
      </a>
      <a class="item disabled" *ngIf="updatesOnClick != null">
        <div>
          {{updatesOnClick?.title}}
        </div>
      </a>
    </div>
    <div class="ui segment" style="padding: 7px; background-color: rgb(199, 179, 0)">
      <app-updates (clickedupdatessOut)='clickedupdates($event)'></app-updates>
    </div>
  </div> -->

</div>