#listform{
    float: left;
    width: 25%;
    height: 40%;
}
#divform{
    width: 25%;
    height: 40%;
    border: 1px;
    border-color: black;
}
#text-color-animation{
    color: white;
}
.menu > .item{
    background:white !important;
}
.segment >a {
    
}
