<div class="ui grid inverted menu" id="nav">
  <!-- black box -->
  <div style="width: 10%; height: auto;">
  </div>
  <!-- nav  -->
  <div class="ui container">
    <a class="header item">
      <img class="logo" src="/src/Images/GlobalElite.jpg">
      GlobalElite
    </a>
    <a class="item" routerLink="/" [routerLinkActive] = "'active'" [routerLinkActiveOptions] = "{exact:true}">
      Homepage
    </a>
    <a class="item" routerLink="/map" [routerLinkActive] = "'active'" [routerLinkActiveOptions] = "{exact:true}">
      Maps - Tactics
    </a>
    <a class="item" routerLink="/pro" [routerLinkActive] = "'active'" [routerLinkActiveOptions] = "{exact:true}">
      Pro
    </a>
    <a class="item" routerLink="/tournament" [routerLinkActive] = "'active'" [routerLinkActiveOptions] = "{exact:true}">
      Tournament
    </a>
  <div class="right menu">
    <div class="item">
      <div class="ui right left icon input">
        <i class="search icon"></i>
        <input class="" type="text" placeholder="Search...">
        <a class="ui animated fade button ui inverted white button">
          <div class="visible content">Search</div>
          <div class="hidden content">
            <i class="search icon"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- black box -->
  <div style="width: 10%; height: auto;">
    </div>
    <!-- nav  -->
  </div>
</div> 

