<div class="ui grid">
  <div class="ui four wide column">
      <div class="ui pointing vertical fluid menu" style="padding: 7px; background-color: rgb(199, 179, 0)">
        <a class="item" (click) = 'selectintro()'>
          Introduction
        </a>
        <a class="item" [ngClass]="{'active': map == selectmap}" (click) = "onSelect(map)" *ngFor="let map of listMaps" >
          {{map.title}}
        </a>
      </div>      
  </div>
  
  <div class="ui segment twelve wide stretched column" style="padding: 7px; background-color: rgb(199, 179, 0)">    
    <div *ngIf="selectmap">
      <div class="ui segment inverted">
        {{selectmap.title}}
        <br>
        <p *ngFor="let paragraph of selectmap.intro">
          {{paragraph}}
        </p>
        <br>
        <p *ngFor="let paragraph of selectmap.spawn">
          {{paragraph}}
        </p>
        <br>
        <p *ngFor="let paragraph of selectmap.bombsites">
          {{paragraph}}
        </p>
        <br>
        <img [src]="selectmap.img" *ngIf="selectmap.img" alt="" style="width:70%;height:70%;">
      </div>
    </div>
    <div *ngIf="!selectmap">
      <!-- <img src="src/Images/GlobalElite.jpg" alt=""> -->
    </div>
  </div>
</div>