<div class="ui pointing inverted menu">
  <a class="item" >
    Add news
  </a>
  <a class="item" >
    Update news
  </a>
</div>


  <!-- Add news -->
  <div class="ui segment" style="padding: 7px; background-color: rgb(199, 179, 0)">
    <form class="ui segment form" (ngSubmit)='onSubmit()'>
      <div class="fields">
        <div class="seven wide field">
          <label>Title</label>
          <input type="text" [(ngModel)]="title" name="title" placeholder="Title">
        </div>
      </div>
      <div class="ui form">
        <div class="field">
          <label>Text</label>
          <textarea name="textInput" id="textInput" [(ngModel)]="textInput"></textarea>
        </div>
        <div >
          <input type="url" name="url" id="url" [(ngModel)]="imgInput" />
        </div>
        <div class="circular ui icon button" (click)="chooseAdd()">
          <i class="icon plus"></i>
        </div>
        <div class="ui segment" *ngFor="let paragraph of newscontentlist">
          <div class="textcustom">
            {{paragraph.content}}
          </div>
          <div>
            {{paragraph?.img}}
          </div>
        </div>
      </div>
      <button type="submit" class="ui button" tabindex="0">Submit</button>
    </form>
  </div>
