<div class="ui segment" style="padding: 7px; background-color:rgb(199, 179, 0)">
    <div class="ui pointing menu">
        <a class="item">
          Intro
        </a>
        <a class="item" [ngClass]="{'active': proteams && !proplayers }" (click)="clickproteams()">
          Pro teams
        </a>
        <a class="item" (click)="clickproplayers()" [ngClass]="{'active': !proteams && proplayers }">
          Pro players
        </a>
        <!-- search bar -->
        <div class="right menu">
          <div class="item">
            <div class="ui transparent icon input">
              <input type="text" placeholder="Search...">
              <i class="search link icon"></i>
            </div>
          </div>
        </div>
      </div>

      <!-- Pro teams -->
      <div class="ui segment" *ngIf="proteams && !proplayers">
        <div class="ui grid">
          <div class="four wide column">
            <div class="ui vertical fluid tabular menu">
              <a class="item" [ngClass]="{'active': selecttop1 && !selecttop6}" (click)="clickTop1()">
                TOP 5 (HLTV)
              </a>
              <a class="item" [ngClass]="{'active': !selecttop1 && selecttop6}" (click)="clickTop6()">
                TOP 6-10 (HLTV)
              </a>
              <a class="item" [ngClass]="{'active': !selecttop1 && !selecttop6}" (click)="clickTop10()">
                TOP 10-20 (HLTV)
              </a>
            </div>
          </div>
          <div *ngIf="selecttop1 && !selecttop6" class="twelve wide stretched column">
            <div class="ui segment d-inline-block">
              <div class="ui list">
                <div class="item" *ngFor="let team of listTop5">
                  <img class="ui avatar image" src="{{team?.img}}">
                  <div class="content">
                    <a class="header" routerLink="/team/{{team?.id}}">{{team?.Name}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="!selecttop1 && selecttop6" class="twelve wide stretched column">
            <div class="ui segment d-inline-block">
              <div class="ui list">
                <div class="item" *ngFor="let team of listTop10">
                  <img class="ui avatar image" src="{{team?.img}}">
                  <div class="content">
                    <a class="header" routerLink="/team/{{team?.id}}">{{team?.Name}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="!selecttop1 && !selecttop6" class="twelve wide stretched column">
            <div class="ui segment d-inline-block">
              <div class="ui list">
                <div class="item" *ngFor="let team of listTop20">
                  <img class="ui avatar image" src="{{team?.img}}">
                  <div class="content">
                    <a class="header" routerLink="/team/{{team?.id}}">{{team?.Name}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Pro players -->
      <div class="ui segment table_content" *ngIf="!proteams && proplayers">
        <div class="col1">
          <div class="ui middle aligned animated list">
            <div class="ui segment" style="background: #dddddd">Rating 2.0</div>
            <div class="item" *ngFor="let player of listplayer">
              <img class="ui avatar image" src="{{player?.img}}">
              <div class="content">
                <div class="header">{{player?.name}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col2">
          <div class="ui middle aligned animated list">
              <div class="ui segment" style="background: #dddddd">Damage per round</div>
              <div class="item" *ngFor="let player of listplayer">
                <img class="ui avatar image" src="{{player?.img}}">
                <div class="content">
                  <div class="header">{{player?.name}}</div>
                </div>
              </div>
          </div>
        </div>
        <div class="col3">
          <div class="ui middle aligned animated list">
              <div class="ui segment" style="background: #dddddd">Kills per round</div>
              <div class="item" *ngFor="let player of listplayer">
                <img class="ui avatar image" src="{{player?.img}}">
                <div class="content">
                  <div class="header">{{player?.name}}</div>
                </div>
              </div>
          </div>
        </div>
        <div class="col4">
            <div class="ui middle aligned animated list">
                <div class="ui segment" style="background: #dddddd">Deaths per round</div>
                <div class="item" *ngFor="let player of listplayer">
                  <img class="ui avatar image" src="{{player?.img}}">
                  <div class="content">
                    <div class="header">{{player?.name}}</div>
                  </div>
                </div>
            </div>
          </div>
          <div class="col5">
              <div class="ui middle aligned animated list">
                  <div class="ui segment" style="background: #dddddd">Total assists</div>
                  <div class="item" *ngFor="let player of listplayer">
                    <img class="ui avatar image" src="{{player?.img}}">
                    <div class="content">
                      <div class="header">{{player?.name}}</div>
                    </div>
                  </div>
              </div>
            </div>
      </div>
</div>

