<div class="ui segment" style="padding:  7px; background-color: rgb(199, 179, 0)">
  <form class="ui segment form">
    <div class="fields">
      <div class="seven wide field">
        <label>Title</label>
        <input type="text" name="Title" placeholder="Title">
      </div>
      <div class="six wide field">
        <label>Updated_at</label>
        <div class="two fields">
          <div class="field">
            <select class="ui fluid search dropdown" name="Updated_at">
              <option value="">Month</option>
              <option value="1">January</option>
              <option value="2">February</option>
              <option value="3">March</option>
              <option value="4">April</option>
              <option value="5">May</option>
              <option value="6">June</option>
              <option value="7">July</option>
              <option value="8">August</option>
              <option value="9">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
            </select>
          </div>
          <div class="field">
            <input type="text" maxlength="4" placeholder="Year">
          </div>
        </div>
      </div>
    </div>
    <div class="ui form">
      <div class="field">
        <label>Text</label>
        <textarea></textarea>
      </div>
      <div class="field">
        <label>Input picture</label>
        <textarea rows="2"></textarea>
      </div>
    </div>
    <div class="ui button" tabindex="0">Submit</div>
  </form>
</div>