<div class="title" *ngIf="updates == null" >
  <a (click)='onClick(updates)' *ngFor='let updates of listUpdates' >
    <div class="ui segment ">
      {{updates?.title}}
      <br>
      {{updates?.updated_at}}
    </div>
  </a>
</div>


<div class="content" *ngIf="updates != null">
  <div>
    <button class="ui button" (click)='back()' >Back</button>
  </div>
  <div>
    <div class="ui segment inverted">
      <p *ngFor="let paragraph of updates?.content">
          {{paragraph}}
      </p>
        <img [src]="updates?.img" *ngIf="updates?.img" alt="" style="width:100%;height:100%;">
    </div>
  </div>
</div>
