<div class="ui grid">
  <div class="four wide column" id="bg-color">
    <div class="ui vertical fluid tabular pointing menu" >
      <a class="active item">
        News
      </a>
      <a class="item">
        Updates
      </a>
    </div>
  </div>
  <div class="twelve wide stretched column">
    <div class="ui pointing menu">
      <a class="active item" (click)='onClick()' >
        News
      </a>
      <a class="item disabled">
        Read
      </a>
      <a class="item">
        <div style="">
          
        </div>
      </a>
    </div>
    <div class="ui segment">
      <app-news [aNews]='currentNews' ></app-news>
    </div>
  </div>
</div>