#listform{
    float: left;
    width: 25%;
    height: 40%;
}
#divform{
    width: 25%;
    height: 40%;
    border: 1px;
    border-color: black;
}
#bg-color{
    background-color: transparent;
}
#text-color-animation{
    color: white;

}

.menu > .item{
    background: rgba(255, 255, 255, 0.87) !important;
}

.menu > .active{
    background: white !important;
}

.segment >a {
    
}