/* You can add global styles to this file, and also import other style files */

.container-body{
    width: 100% !important;
    height: 100% !important;
    padding: 5%;
    background-image: url('/src/Images/csgo_store_image_02.png');
    background-color: black;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -5;
}

