.coverteam{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.coverteam > div{
    background-color: rgba(255, 255, 255, 0.850);
}

.title-contain{
    display: grid !important;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 1fr;
    grid-gap: 1em;
    align-content: center;
}

.title-contain > .logoBlock{
    display: grid !important;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1em;
    justify-self: start;
    align-self: center;
}
.customheader {
    font-size: 1.5em;
    cursor: default !important;
}

.logoBlock > .logostart{
    justify-self: start;
}
.logoBlock > .logoend{
    justify-self: end;
}

.title-contain > .socialBlock{
    justify-self: end;
    align-self: center;
}

.title-contain > .infoblock{
   justify-self: center;
   align-self: center;

}

@media only screen and (max-width: 700px){
    .title-contain{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
    }

    .title-contain > .logoBlock{
        justify-self: center;
    }

    .title-contain > .socialBlock{
        justify-self: center;
    }
}

.custommatch{
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.custommatch > .div{
    display: block;
}

.custommatch > .firstteam{
    grid-column: 1/4;
    grid-row: 1/4;

}
.custommatch > .secondteam{
    grid-column: 4/8;
    grid-row: 1/4;
}
.custommatch > .timematch{
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.000);
    grid-column: 3/5;
    grid-row: 1/4;
}
.imageteam1{
    z-index: 2;
    grid-column: 2/3;
    grid-row: 2/4;
}
.imageteam2{
    z-index: 2;
    grid-column: 5/6;
    grid-row: 2/4;
}

.div_ongoing{
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1;
}
.div_ongoing > .img_ongoing{
    z-index: -1;
    grid-column: 1/2;
    grid-row: 1;
    justify-self: center;
}
.div_ongoing > .name_ongoing{
    grid-column: 2/4;
    grid-row: 1;
    align-self: center;
}
.div_ongoing > .time_ongoing{
    grid-column: 5/7;
    grid-row: 1;
    align-self: center;
}
.div_event {
    display: grid !important;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
    grid-template-rows: 1fr 1fr 1fr;
}
.div_event > .event1 {
    grid-row: 1/2;
}
.div_event > .event2 {
    grid-row: 2/3;
}
.div_event > .event3 {
    grid-row: 3/4;
}

.div_tonghop{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
}
.div_tonghop > .div_img{
    grid-row: 1;
}
.div_tonghop > .div_player{
    grid-row: 1;
}

